.left-section {
  background-color:black;
  justify-content: center !important;
  align-items: center;
  height: 80vh;
}

.right-section {
  background-color:#fed43a;;
  height: 80vh;
  min-height: 600px !important;
  align-items: center;
 
}

.left-section>card {
  margin: 0 auto !important;
  
}

.jumbotron   {
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
  max-height: 850px;
  min-height: 600px !important;
  align-items: center !important;
}

.custom-jumbo {
  height: 100%;
}
.left-jumbo {
  background-color: black;
  max-height: 850px;
  min-height: 500px;
  display: flex;
  align-items: center ;
  justify-content: center;
}

.right-hero-jumbo {
  background-color:#fed43a;
  max-height: 850px;
  min-height: 600px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  /* background-color: orange; */
}

.left-jumbo-card {
  background-color: transparent !important;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
  width: 500px !important ;
  height: 500px;
}

.card-img {
  border-radius: 50% !important;
  /* border: 1px solid blue;  */
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
  overflow: hidden;
}

.right-jumbo-card {
  background-color: transparent !important;
  /* border: 1px solid red !important; */
  align-items: center !important;
  justify-content: center !important;
  border: none !important;
  
}

.info-card-title {
  font-size: 6rem;
}

.info-card-subtitle {
  font-size: 2rem;
}

.info-card-text {
  font-size: 1rem;
}

.btn-mywork {
  background-color: black !important;
  color: #fed43a !important;
  border: none !important;
}

.btn-mywork:hover , .btn-contact:hover {
  opacity: 0.6 !important;
  transition: 0.5s ease-in-out !important;
}

.btn-contact {
  background-color: grey !important;
  color: #fed43a !important;
  border: none !important;
}

@media screen and (max-width: 575px) {
  .jumbotron {
    padding: 0 !important;
    margin: 0 !important;
    height: 120vh !important;
    max-height: 1200px;
    min-height: 1000px !important;
    align-items: center !important;
  }
  .right-hero-jumbo {
    background-color: #fed43a;
    height: 800px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
  }

}