.left-section {
  background-color:black;
  justify-content: center !important;
  align-items: center;
  height: 100vh;
}

.right-section {
  background-color:#fed43a;;
  height: 100vh;
  align-items: center;
}

.left-section>card {
  margin: 0 auto !important;
  
}

.jumbotron   {
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh;
  /* max-height: 900px; */
  min-height: 400px;
  align-items: center !important;
}

.custom-jumbo {
  height: 100%;
}
.left-jumbo {
  background-color: black;
  max-height: 850px;
  min-height: 600px;
  display: flex;
  align-items: center ;
  justify-content: center;
}

.right-jumbo {
  background-color:#fed43a;
  max-height: 850px;
  min-height: 600px;
  /* background-color: orange; */
}

.left-jumbo-card {
  background-color: transparent !important;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
  width: 500px !important ;
  height: 500px;
}

.card-img {
  border-radius: 50% !important;
  /* border: 1px solid blue;  */
  width: 200px !important;
  height: 200px !important;
  object-fit: cover;
  overflow: hidden;
}

#left-jumbo-img {
  /* align-self: center !important; */
  /* border-radius: 50% !important; */
  /* border-radius: 100px !important; */
  
  /* width: 100%;
  height: 100%;
  object-fit:cover;
  overflow: hidden;  */
}