/* .left-section {
  background-color: black;
  justify-content: center !important;
  align-items: center;
  height: 100vh;
}

.right-section {
  background-color: #fed43a;
  ;
  height: 100vh;
  align-items: center;
}

.left-section>card {
  margin: 0 auto !important;

} */