.left-work-header {
  display: grid;
  padding-top: 60px;
  background-color: black;
  justify-content: center !important;
  align-items: center !important;
  height: 20vh;
  min-height: 160px !important;
  /* border: 1px solid red; */
}


.right-work-header {
  
  display: grid;
  padding-top: 60px;
  background-color: #fed43a;
  height: 20vh;
  min-height: 160px !important;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  display: grid;
}

#work-header {
  font-size: 5rem;
  font-weight: 700;
  color: white;
  /* min-height: 160px; */
}

@media screen and (max-width: 768px) {
  #work-header {
    border-bottom: 1px solid #fed43a;
    font-size: 4.5rem;
  }
}
