.left-section>.left-about-content {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  align-items: center;
  height: 60%;
  width: 70%;
  min-width: 50%;
  min-height: 470px;
  background-color: black;
  border-radius: 15px;
  border: 10px solid #fed43a;
}
.about-header {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 0;
  font-size: 3.4rem;
  color: #fed43a;
}

.about-paragraph {
  margin: 2rem auto;
  padding: 1.5rem 2rem;
  /* margin-bottom: 3rem; */
  font-size: 1.2rem;
  color: aliceblue
}


.right-section-skills {
  background-color: #fed43a;
  display: grid !important;
  
  /* end of new lines  */
  max-height: 850px;
  height: 100vh;
  min-height: 600px !important;
    
    
}

.skills-container {
  /* background-color: #fed43a; */
  display: grid !important;
  /* new lines  */
  /* gap: 10px; */
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4,minmax(150px,auto));
  grid-template-areas:
    "header header header"
    "card1 card2 card3"
    "card4 card5 card6"
    "gallery-button gallery-button gallery-button"
  ;
  
  width:80%;
  max-width: 600px;
  margin:0 auto;
    /* end of new lines  */
  max-height: 850px;
  height: 100vh;
  min-height: 600px !important;
}

.skills-header {
  grid-area: header;
}
.skills-card1 {
  grid-area: card1;
}
.skills-card2 {
  grid-area: card2;
}
.skills-card3 {
  grid-area: card3;
}
.skills-card4 {
  grid-area: card4;
}
.skills-card5 {
  grid-area: card5;
}
.skills-card6 {
  grid-area: card6;
}
.gallery-button {
  grid-area: gallery-button;
}


.skills-header {
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: center;

}

.skills-cards   {
  background-color: black !important;
  color: #fed43a;
  border-radius: 10% !important;
  /* width: 220px !important; */
  box-shadow: -10px -7px 19px -6px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -10px -7px 19px -6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -10px -7px 19px -6px rgba(0, 0, 0, 0.7);

}

.skills-cards:hover {
  opacity: 0.8;
  transition: all 0.5s ;
}

.img-wrapper {
  margin: 10px auto;
  width:50px;
  height:50px;
  
}

.img-wrapper > img {
  border-radius: 10% !important;
}

.gallery-button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 20px auto !important;
  width: 50%;
  height: 40px;
  
}

.btn-skills {
  background-color: black !important;
  color: #fed43a !important;
  border-radius: 10px !important;
  border: none !important;
  font-size: 1.2rem !important;
  width: 100%;
}
.btn-skills:hover {
  background-color: #fed43a !important;
  color: black !important;
  border: 2px solid black !important;
  transition: 0.3s ease-in-out;
}

.express-img {
  width: 100px;
  
}

@media screen and (max-width: 1140px) {
  .left-section>.left-about-content {
    border: 7px solid #fed43a;
  }
  .left-section {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .about-header {
      
    font-size: 2.4rem;
    color: #fed43a;
  }

  .about-paragraph {
    margin: 1rem auto;
    padding: 1.2rem 1.6rem;
    /* margin-bottom: 3rem; */
    font-size: 1rem;
    color: aliceblue
  }

  .skills-container {
    
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px repeat(3,minmax(170px, 200px)) 80px;
    grid-template-areas:
      "header header"
      "card1 card2 "
      "card3 card4 "
      "card5 card6 "
      "gallery-button gallery-button "
    ;

    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    /* end of new lines  */
    max-height: 850px;
    height: 100vh;
    min-height: 600px !important;
  }
}

@media screen and (max-width: 767px) and (min-width:510px) {
  .left-section>.left-about-content {
      border: 5px solid #fed43a;
    }
  .left-section {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }

  .skills-container {

    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px repeat(2, minmax(170px, 200px)) 80px;
    grid-template-areas:
      "header header header"
      "card1 card2 card3"
      "card4 card5 card6"
      "gallery-button gallery-button gallery-button"
    ;

    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    /* end of new lines  */
    max-height: 850px;
    height: 80vh;
    min-height: 600px !important;
  }

    .right-section-skills {
      background-color: #fed43a;
      display: grid !important;
  
      /* end of new lines  */
      max-height: 700px !important;
      height: 60vh;
      min-height: 600px !important;
  
  
    }
  .about-header {

    font-size: 2rem;
    color: #fed43a;
  }

  .about-paragraph {
    margin: 0.6rem auto;
    padding: 1rem 1.2rem;
    /* margin-bottom: 3rem; */
    font-size: 0.88rem;
    color: aliceblue
  }

  .card-body {
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;

  }
  .card-title {
    font-size: 1rem !important;
    margin-bottom: 0.5rem !important;
  }
  .card-text {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 390px)  {
  .left-section>.left-about-content {
    border: 5px solid #fed43a;
  }
  .left-section {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }

  .about-header {
    font-size: 2rem;
    color: #fed43a;
  }

  .about-paragraph {
    margin: 0.6rem auto;
    padding: 1rem 1.2rem;
    /* margin-bottom: 3rem; */
    font-size: 0.88rem;
    color: aliceblue
  }
  .card-body {
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;

  }
  .card-title {
    font-size: 1rem !important;
    margin-bottom: 0.5rem !important;
  }
  .card-text {
    font-size: 0.8rem !important;
  }
}


