.custom-navbar {
  background-color: rgba(0,0,0,0.4);
}

.navbar-toggler {
  /* color: red !important; */
  /* border: 2px solid red !important; */
  /* width: 1.5em !important;
  height: 1.5em !important; */
  /* padding: 0.2em !important; */
  

} 

.navbar-toggler:focus {
  outline: none;
  
}
